.logo {
    width: 180px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

.club {
    margin-bottom: 15px;
    text-align: center;
}

.club img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 200px; /* Adjust as needed */
}

.club a {
    display: block;
    margin-top: 8px;
    color: #01AB7A;
    text-decoration: none;
}

.club a:hover {
    text-decoration: underline;
}
