body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img.logo {
    width: 180px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

#hero {
    background-image: url('https://github.com/AnkitBele21/centurydewas/blob/08765c53a0d8bb4cab547b49e01840042eec0ced/photo/dp/shutterstock_249731971.jpg?raw=true');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
