.logo {
    width: 180px;
    display: block;
    margin: 0 auto;
}

.hero-section {
    background-image: url('https://github.com/AnkitBele21/centurydewas/blob/main/photo/stock-photo-opening-frame-of-the-snooker-77557717-ZSbCgl2Ur-transformed.png?raw=true');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 20px;
    color: white;
}

.btn-join-now {
    background-color: #01AB7A; /* Adjust color to match your theme */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.btn-join-now:hover {
    background-color: #018a5e;
}

/* Add styles for Tournament, Studios, and Investment sections */

footer {
    background-color: #33363B;
    color: white;
    text-align: center;
    padding: 20px 0;
}
